For 2024

In [106]:
import pandas as pd
df = pd.read_csv('Datasets/ET_News/economic_times_headlines_2024.csv ')

In [107]:
df = df.drop(columns= {'Archive','Headline link'})

In [108]:
df.head()

         Date                                           Headline
0  01-01-2024  Disney Marathon: How to register and qualify? ...
1  01-01-2024  Bharti Airtel Services to acquire 97.1% stake ...
2  01-01-2024  Fallout 76 Nuke Codes & Launch Site Locations:...
3  01-01-2024  Is retirement on your list in 2024? Here are d...
4  01-01-2024  Raise a glass to GIFT City: Why the recent ame...

In [109]:
df = df.drop_duplicates()

In [110]:
import re

keywords = ['car', 'cars', 'tata motors', 'tata', 'jlr', 'jaguar', 'Land Rover', 'ev']

pattern = r'\b(?:' + '|'.join(re.escape(k.lower()) for k in keywords) + r')\b'

cols = ['Headline']  # columns we need to filter
mask = df[cols].apply(lambda col: col.str.lower().str.contains(pattern, regex=True))
df24 = df[mask.any(axis=1)]

In [111]:
df24.value_counts()

Date        Headline
29-08-2024  Veera Mahasamrat EV: Veera Vahana, Exponent Energy announce the 'World's first 15-minute charging intercity bus'       1
01-01-2024  Assam CM says Tata Electronics to hire 1K Science graduates for semicon plant; state targets 10 lakh cr GDP by 2026    1
            Big movers on D-Street: What should investors do with Tata Consumer, Tata Motors and Olectra?                          1
            Cheap Chinese EV resembling Toyota Land Cruiser LC300 goes viral                                                       1
            India's steel sector still in recovery mode post Covid pandemic: Tata Steel CEO and MD T V Narendran                   1
                                                                                                                                  ..
01-03-2024  Car tyres punctured: BRS MPs move out to BJP and Congress                                                              1
01-02-2024  budget 2024 electric vehicle push: Budget 2024: Push for EV charging infrastructure brings cheer                       1
            Tata Motors total vehicle sales climb to 86,125 units in January                                                       1
            Tata Motors Q3 Result Preview: Consolidated PAT may surge 55% YoY on upbeat all-round show                             1
            Ola's Bhavish Aggarwal has some big announcements for Friday. Here's what the EV co may announce                       1
Name: count, Length: 1803, dtype: int64

In [112]:
df24 = df24.reset_index(drop=True)

In [113]:
df24

            Date                                           Headline
0     01-01-2024  Successfully met this winter's record peak pow...
1     01-01-2024  Assam CM says Tata Electronics to hire 1K Scie...
2     01-01-2024  Tata Motors total domestic sales up 4 pc to 76...
3     01-01-2024  India's steel sector still in recovery mode po...
4     01-01-2024  Big movers on D-Street: What should investors ...
...          ...                                                ...
1798  10-12-2024  Biggest, fastest and most consistent: Adani En...
1799  10-12-2024  Xiaomi says it has no plan to launch its elect...
1800  10-12-2024  Buy Tata Power, target price Rs 509:  Motilal ...
1801  10-12-2024  Tata Motors shares in spotlight as carmaker to...
1802  10-12-2024  Stocks in news: Vodafone Idea, Tata Motors, NH...

[1803 rows x 2 columns]

In [ ]:
df24.to_csv('2024_news_cleaned.csv', index= False)

For 2025-----------------------------------------------------------------------------------------------------------

In [124]:
import pandas as pd
df = pd.read_csv('Datasets/ET_News/economic_times_headlines_2025.csv ')

In [125]:
df = df.drop_duplicates()

In [126]:
df = df.drop(columns={'Archive', 'Headline link' })

In [127]:
import re

keywords = ['car', 'cars', 'tata motors', 'tata', 'jlr', 'jaguar', 'Land Rover', 'ev']

pattern = r'\b(?:' + '|'.join(re.escape(k.lower()) for k in keywords) + r')\b'

cols = ['Headline']  # columns we need to filter
mask = df[cols].apply(lambda col: col.str.lower().str.contains(pattern, regex=True))
df25 = df[mask.any(axis=1)]

In [129]:
df25 = df25.reset_index(drop=True)

In [ ]:
df25.to_csv('2025_news_cleaned.csv', index = False)

For 2023------------------------------------------------------------------------------------------------------------

In [131]:
import pandas as pd
df = pd.read_csv('Datasets/ET_News/economic_times_headlines_2023.csv')

In [133]:
df= df.drop_duplicates()

In [135]:
df = df.drop(columns={'Archive', 'Headline link' })

In [139]:
import re

keywords = ['car', 'cars', 'tata motors', 'tata', 'jlr', 'jaguar', 'Land Rover', 'ev']

pattern = r'\b(?:' + '|'.join(re.escape(k.lower()) for k in keywords) + r')\b'

cols = ['Headline']  # columns we need to filter
mask = df[cols].apply(lambda col: col.str.lower().str.contains(pattern, regex=True))
df23 = df[mask.any(axis=1)]

In [141]:
df23.reset_index(drop= True)

            Date                                           Headline
0     01-01-2023  Tata Motors reports 10 pc increase in total do...
1     01-01-2023  Lens on EV makers' claim to FAME subsidy: Test...
2     02-01-2023  Woman dragged under car for 12 km, police add ...
3     02-01-2023  december auto sales fall below expectations ev...
4     02-01-2023  tata motors maruti suzuki eicher motors among ...
...          ...                                                ...
2046  29-12-2023  Tata Motors shares jump 6% to double money in ...
2047  29-12-2023  Ratan Tata to sell all his 77,900 shares in Fi...
2048  29-12-2023  Radhakishan Damani portfolio: Tata stock only ...
2049  29-12-2023  Stocks in news: PNB, Tata Steel, Aarti Drugs, ...
2050  29-12-2023  Tata Consumer becomes 6th Tata stock to hit Rs...

[2051 rows x 2 columns]

In [142]:
df23.to_csv('2023_news_cleaned.csv', index = False)

For 2022-------------------------------------------------------------------------------------------------------

In [143]:
import pandas as pd
df = pd.read_csv('Datasets/ET_News/economic_times_headlines_2022.csv')

In [149]:
df = df.drop_duplicates()

In [150]:
df = df.drop(columns={'Headline link', 'Archive'})

In [151]:
df

              Date                                           Headline
0       01-01-2022  Assam targeting to become six lakh crore GDP s...
1       01-01-2022  In Manipur BJP will form a government on its o...
2       01-01-2022  There will be rationalization of the Armed For...
3       01-01-2022  Media companies will have to create content fo...
4       01-01-2022  How we interact with sporting events might cha...
...            ...                                                ...
108594  29-12-2022  India vs Sri Lanka Schedule 2023: Match date &...
108595  29-12-2022  Government closely monitoring exports of produ...
108596  29-12-2022  Clarity, caution and conviction will drive sta...
108597  29-12-2022  NCP rolls out red carpet as Anil Deshmukh walk...
108598  29-12-2022  Buy Cholamandalam Investment & Finance Company...

[108599 rows x 2 columns]

In [152]:
import re

keywords = ['car', 'cars', 'tata motors', 'tata', 'jlr', 'jaguar', 'Land Rover', 'ev']

pattern = r'\b(?:' + '|'.join(re.escape(k.lower()) for k in keywords) + r')\b'

cols = ['Headline']  # columns we need to filter
mask = df[cols].apply(lambda col: col.str.lower().str.contains(pattern, regex=True))
df22 = df[mask.any(axis=1)]

In [155]:
df22.reset_index(drop = True)

            Date                                           Headline
0     01-01-2022  Tata Motors overtakes Hyundai to grab the numb...
1     01-01-2022  Honda Cars reports 26 pc jump in wholesales fo...
2     01-01-2022  Tata Motors reports 50 pc jump in PV sales to ...
3     02-01-2022  PM Modi can't claim to be 'fakir' after adding...
4     02-01-2022  Going electric: Is the EV two-wheeler buzz rea...
...          ...                                                ...
2021  29-12-2022     Tata Power raises Rs 1,000 crore through bonds
2022  29-12-2022  Tata Consumer Products Ltd acquires 23 per cen...
2023  29-12-2022  Tata Sons chairman N Chandrasekaran to head Ma...
2024  29-12-2022  Arjun Deshpande: The man who wants “Bharat Rat...
2025  29-12-2022  Stocks in news: KFin Tech, SBI, Tata Power, Gu...

[2026 rows x 2 columns]

In [156]:
df22.to_csv('2022_news_cleaned.csv', index = False)