In [4]:
from textblob import TextBlob
import pandas as pd
from datetime import datetime
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [16]:
import pandas as pd


data = pd.read_csv("web_scrapping\Datasets\ET_News\stock_price.csv")

<>:4: SyntaxWarning: invalid escape sequence '\D'
<>:4: SyntaxWarning: invalid escape sequence '\D'
C:\Users\User\AppData\Local\Temp\ipykernel_3964\3660887833.py:4: SyntaxWarning: invalid escape sequence '\D'
  data = pd.read_csv("web_scrapping\Datasets\ET_News\stock_price.csv")

In [18]:
data.head()

         Date   Close    High     Low    Open    Volume
0  2022-03-02  442.41  448.98  439.39  447.69  25791134
1  2022-03-03  432.03  453.18  429.95  453.18  29599672
2  2022-03-04  412.41  426.84  409.94  426.84  38765185
3  2022-03-07  389.43  397.09  383.00  397.09  44836205
4  2022-03-08  387.20  390.86  371.98  385.97  55543383

In [19]:
data.tail()

           Date   Close    High     Low   Open   Volume
831  2025-07-14  674.50  681.00  672.00  681.0  7748550
832  2025-07-15  684.40  685.95  674.30  676.0  7041706
833  2025-07-16  679.00  684.40  676.35  684.4  6244205
834  2025-07-17  681.70  686.90  678.15  679.0  6598144
835  2025-07-18  680.25  686.00  678.00  683.2  5558670

In [20]:
data.describe()

             Close         High          Low         Open        Volume
count   836.000000   836.000000   836.000000   836.000000  8.360000e+02
mean    653.423313   661.805024   646.053636   654.920167  1.378639e+07
std     212.751503   215.584352   210.220845   213.464004  8.561255e+06
min     367.980000   380.190000   361.950000   375.840000  0.000000e+00
25%     436.030000   441.587500   430.940000   438.227500  8.834522e+06
50%     635.265000   642.500000   629.475000   636.035000  1.175024e+07
75%     793.005000   803.677500   785.410000   795.685000  1.555429e+07
max    1151.950000  1168.950000  1135.540000  1157.050000  7.142575e+07

In [21]:
data["Date"] = pd.to_datetime(data["Date"])

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 836 entries, 0 to 835
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    836 non-null    datetime64[ns]
 1   Close   836 non-null    float64
 2   High    836 non-null    float64
 3   Low     836 non-null    float64
 4   Open    836 non-null    float64
 5   Volume  836 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 39.3 KB

In [26]:
H_df = pd.read_csv("web_scrapping/Datasets/head.csv",encoding="latin 1")

In [27]:
H_df.head()

         Date                                           Headline
0  01-01-2022  Tata Motors overtakes Hyundai to grab the numb...
1  01-01-2022  Honda Cars reports 26 pc jump in wholesales fo...
2  01-01-2022  Tata Motors reports 50 pc jump in PV sales to ...
3  02-01-2022  PM Modi can't claim to be 'fakir' after adding...
4  02-01-2022  Going electric: Is the EV two-wheeler buzz rea...

In [28]:
H_df.tail()

            Date                                           Headline
6297  11-06-2025  Reduce Tata Motors, target price Rs 733:  HDFC...
6298  11-06-2025  Tata Electronics sends hundreds of staff to Ta...
6299  11-06-2025   Qcomm cos on govt radar; Tata upskills in Taiwan
6300  11-06-2025  New directors set to board Tata Sons with â?3...
6301  11-06-2025  These 2 Tata Group companies to trade ex-divid...

In [29]:
H_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6302 non-null   object
 1   Headline  6302 non-null   object
dtypes: object(2)
memory usage: 98.6+ KB

In [30]:
H_df["Date"] = pd.to_datetime(H_df["Date"],format="%d-%m-%Y")

In [31]:
H_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6302 entries, 0 to 6301
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      6302 non-null   datetime64[ns]
 1   Headline  6302 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 98.6+ KB

In [32]:
H_df.describe()

                                Date
count                           6302
mean   2023-07-25 02:56:24.068549888
min              2022-01-01 00:00:00
25%              2022-10-03 00:00:00
50%              2023-08-03 00:00:00
75%              2024-04-08 00:00:00
max              2025-06-11 00:00:00

In [33]:
print(H_df.columns)

Index(['Date', 'Headline'], dtype='object')

In [35]:
analyzer = SentimentIntensityAnalyzer()
H_df["sentiment"] = H_df["Headline"].apply(lambda x: analyzer.polarity_scores(str(x))["compound"])

In [36]:
daily_sentiment = H_df.groupby("Date")["sentiment"].sum().reset_index()

In [37]:
daily_sentiment.head()

        Date  sentiment
0 2022-01-01     0.0772
1 2022-01-02     0.0000
2 2022-01-03    -0.3166
3 2022-01-04    -0.4162
4 2022-01-05     1.1716

In [38]:
daily_sentiment.tail()

          Date  sentiment
971 2025-06-07     0.4535
972 2025-06-08     0.0000
973 2025-06-09     0.2800
974 2025-06-10     0.7351
975 2025-06-11     1.5740

In [39]:
merged_df = pd.merge(data,daily_sentiment,on = "Date",how = "left")

In [40]:
merged_df.head()

        Date   Close    High     Low    Open    Volume  sentiment
0 2022-03-02  442.41  448.98  439.39  447.69  25791134    -0.8141
1 2022-03-03  432.03  453.18  429.95  453.18  29599672     0.8383
2 2022-03-04  412.41  426.84  409.94  426.84  38765185     0.7921
3 2022-03-07  389.43  397.09  383.00  397.09  44836205     0.3699
4 2022-03-08  387.20  390.86  371.98  385.97  55543383     0.6037

In [41]:
merged_df.tail()

          Date   Close    High     Low   Open   Volume  sentiment
831 2025-07-14  674.50  681.00  672.00  681.0  7748550        NaN
832 2025-07-15  684.40  685.95  674.30  676.0  7041706        NaN
833 2025-07-16  679.00  684.40  676.35  684.4  6244205        NaN
834 2025-07-17  681.70  686.90  678.15  679.0  6598144        NaN
835 2025-07-18  680.25  686.00  678.00  683.2  5558670        NaN

In [42]:
merged_df.isnull().sum()

Date           0
Close          0
High           0
Low            0
Open           0
Volume         0
sentiment    196
dtype: int64

In [43]:
merged_df["sentiment"].fillna(0,inplace=True)

C:\Users\User\AppData\Local\Temp\ipykernel_3964\2030220110.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df["sentiment"].fillna(0,inplace=True)

In [44]:
merged_df.isnull().sum()

Date         0
Close        0
High         0
Low          0
Open         0
Volume       0
sentiment    0
dtype: int64